/*body {
  background: #ddd;
    width: 100%;
  margin: 70px;
}*/

button {
  width:200px;
  height:100px;
  display:inline-block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #07526e  ;
  padding-top:6px;
  margin-left:auto;
  margin-right:auto;
  left:30px;
  position:relative;
  cursor:pointer;
  border: none;
  background: #134698  ;
  background-image: linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
  border-radius: 5px;

  /*padding-bottom: 30px;*/

}

button:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec  , 0px 2px 0px 0px #07526e  , 0px 5px 3px #999;
  /*padding-bottom: 30px;*/

}

button:before {
  font-family: 'socialfont';
  font-size: 50px;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  /*content:"\F020";*/
  width:85px;
  height:90px;
  display:block;
  position: absolute;
  padding-top:10px;
  /*padding-bottom: 30px;*/
  top:10px;
  text-shadow: 1px 1px 2px #07526e  ;

}

button:active:before {
  top: 7px;
  font-size: 50px;
  text-shadow: 0px 3px 0px #07526e  , 0px 5px 1px #07526e  /*, 3px 0px 1px #07526e  , 3px 3px 1px #07526e  ,
     -2px 0px 1px #68cff2  */;
}



.carousel-control{
  opacity: 20;
}

.carousel{
  padding-bottom: 30px;
  align: center;
}


.whole{
  background-color: white;
  padding-bottom: 20px;
  color: black;
  text-align: center;

}

.para-begin{
  margin-top: 50px;
  text-align: center;
}

.para-end{
    margin-bottom: 50px;
    text-align: center;
}

.bottom_space{
  height: 70px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.parallax {
    /* The image used */
    background-image: url("../images/stadium.png");

   /* Set a specific height */
    min-height: 600px;

   /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax2 {
    /* The image used */
    background-image: url("../images/recruitingroom.png");

   /* Set a specific height */
    min-height: 450px;

   /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998 ;
  color: white;
}

.fa-twitter {
  background: #55ACEE ;
  color: white;
}
.fa-instagram {
  background: #125688 ;
  color: white;
}

.container-fluidsocial{
  text-align: center;
  padding-bottom: 15px;
}

/*.jumbotron text-center{
/*padding-bottom: 50px;*/
/*background-image: url("../images/stadium.jpg");*/
/*image height: auto;
image width: 100%;
background-color: white;
text: white;
}*/

.src{
  align:center;
}


.jumbotron {
    /*padding-top: 30px;*/
    padding-bottom: 10px;
    /*margin-bottom: 30px;*/
    /*color: inherit;*/
    /*background-color: white;*/
    background-color: white;
    /*padding-bottom: 20px;*/
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}

.containerparagraph{
  text-align: center;
  padding-bottom: 20px;
}



.container-fluid{
  padding-bottom: 10px;
  height: 70px;
  padding-top: 5px;
}

.bottom{
  padding-right: 20%;
  padding-left: 20%;
}

.col-sm-4{
  padding-bottom: 20px;
}
