.carousel-control{
  opacity: 0;
}

.para-begin{
  margin-top: 50px;
}

.para-end{
    margin-bottom: 50px;
}

.bottom_space{
  height: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
